<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Broadway Lights The Night</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="./dist/bundle.js"></script>
</head>
<body>
   <%= require('html-loader!./src/templates/navigation.html') %>
   <%= require('html-loader!./src/templates/footer.html')%>
</body>
</html>